@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.comment {
	&__content-box {
		width: 100%;
		border: 0.2rem solid #13817f;
		box-shadow: 0 0 20px #13817f;
		backdrop-filter: blur(2.5rem);
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem;
		color: #8451c9;
		margin-top: 2rem;
		text-shadow: 0 0 30px #13817f;
		border-radius: 1rem;
		height: fit-content;
		background-color: transparent;
		margin-bottom: 1rem;

		@include tablet {
			min-height: 6rem;
		}
	}

	&__right-side {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		@include tablet {
			gap: 1rem;
		}
	}

	&__left-side {
		width: 100%;
		display: flex;
		justify-content: center;
		text-align: center;

		@include tablet {
			justify-content: flex-start;
			text-align: left;
		}
	}
	&__links-img {
		width: 2.5rem; //2 on mobile
		height: 2.5rem; //2 on mobile
		background: transparent;
		border: none;
		cursor: pointer;
		@include tablet {
			display: inline-block;
		}
	}

	&__links-img-container {
		border: none;
		background-color: transparent;
		background: transparent;
		width: fit-content;
		height: 40px;

		&:hover {
			// box-shadow: 0 0 20px 5px #8451c9;
			transform: scale(1.1);
		}
	}

	&__links-img-user {
		width: 2.5rem; //2 on mobile
		height: 2.5rem; //2 on mobile
		background: transparent;
		background-color: transparent;
		border: none;
		cursor: pointer;
	}

	&__edit-box {
		margin-bottom: 1rem;
		box-shadow: 0 0 20px #8451c9;
	}

	&__edit-input {
		background: transparent;
		border: none;
		color: #8451c9;
		font-size: 1rem;
		width: 90%;
	}

	&__width-fix {
		width: 70%;
		background-color: transparent;
	}

	&__hamburger-menu-container {
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	&__link {
		width: fit-content;
		height: 40px;
		background-color: transparent;
		background: transparent;
		border: none;
	}
}

.hamburger-menu-label {
	display: none;
}

.hamburger-menu-label {
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.hamburger-menu-label span {
	display: flex;
	width: 25px;
	height: 5px;
	margin-bottom: 5px;
	border-radius: 1rem;
	background-color: #8451c9;

	@include tablet {
		display: none;
	}
}

.hamburger-menu-content {
	display: none;

	@include tablet {
		display: flex;
		gap: 0.3rem;
	}
}

// .hamburger-menu-label:hover ~ .hamburger-menu-content,
// .hamburger-menu-content:hover {
// 	display: flex;
// 	flex-direction: column;
// 	@include tablet {
// 		flex-direction: row;
// 	}
// }

.hamburger-menu-content.show {
	display: flex;
	flex-direction: column;

	@include tablet {
		flex-direction: row;
	}
}
