.change-password {
	display: flex;
	justify-content: center;
	align-items: top;
	height: calc(100vh - 15rem);
	width: 100%;
	background-color: black;
	background-position: center;
	background-size: cover;
	font-weight: 600;
	color: #8451c9;

	&__form-box {
		position: relative;
		width: 25rem;
		box-shadow: 0 0 20px #13817f;
		height: fit-content;
		background: transparent;
		border: 0.125rem solid #8451c9;
		border-radius: 1.25rem;
		backdrop-filter: blur(10rem);
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	&__title {
		font-size: 2rem;
		color: #8451c9;
		text-align: center;
		text-shadow: 0 0 10px #13817f;
	}

	&__inputbox {
		position: relative;
		margin: 1.875rem 0;
		width: 19.375rem;
		border-bottom: 0.125rem solid #8451c9;
		text-shadow: 0 0 10px #13817f;
	}

	&__register {
		font-size: 1rem;
		color: #8451c9;
		text-align: center;
		margin-top: 0.625em;
	}

	&__input {
		width: 100%;
		height: 3.125rem;
		background: transparent;
		border: none;
		outline: none;
		font-size: 1rem;
		padding-left: 0.3125rem;
		color: #8451c9;
		text-shadow: 0 0 10px #13817f;
		&:focus + .change-password__label {
			transform: translateY(-150%);
			font-size: 0.75rem;
		}
		&:valid + .change-password__label {
			transform: translateY(-150%);
			font-size: 0.75rem;
		}
	}

	&__label {
		position: absolute;
		left: 0.3125rem;
		top: 40%;
		color: #8451c9;
		transform: translateY(-50%);
		font-size: 1rem;
		pointer-events: none;
		transition: 0.5s;
	}

	&__button {
		width: 100%;
		height: auto;
		border-radius: 2.5rem;
		background-color: transparent;
		border: 0.125rem solid #8451c9;
		outline: none;
		cursor: pointer;
		font-size: 1rem;
		font-weight: bold;
		color: white;
		padding: 0.625rem 0.9375rem 0.625rem 0.9375rem;
		margin-top: 0.625rem;
		margin-bottom: 0.625rem;
		color: #8451c9;
		box-shadow: 0 0 10px #13817f;

		&:hover {
			background-color: #8451c9;
			color: rgb(133, 191, 189);
		}
	}
}

.category:focus {
	outline: none;
	box-shadow: 0 0 0 2px #007aff;
}
